body {
  padding:0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
header{
  padding: 50px 50px 20px 50px;
  background-color: rgba(195, 195, 195, 0.35);
}
.headTest{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
button{
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
input{
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.input-group-text{
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

